@import "partials/color";

.bg-blue {
  background-color: $c_interactions_blue;
}

.bg-blue-light {
  background-color: $c_interactions_blue_light;
  border: none;
}

.bg-blue-dark {
  background-color: $c_interactions_blue_dark;
  border: none;
}
